absl-py==1.2.0
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
asttokens==2.0.8
backcall==0.2.0
beautifulsoup4==4.9.3
black==20.8b1
bs4==0.0.1
cachetools==5.2.0
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.10
contourpy==1.0.5
cycler==0.11.0
decorator==5.1.1
dj-database-url==0.5.0
Django==3.1.6
django-crispy-forms==1.12.0
django-filter==2.4.0
django-heroku==0.3.1
django-multiselectfield==0.1.12
djangorestframework==3.12.4
docopt==0.6.2
easyocr==1.6.2
executing==1.1.0
fonttools==4.37.3
futures==3.0.5
google-auth==2.11.1
google-auth-oauthlib==0.4.6
goslate==1.5.4
grpcio==1.49.1
gunicorn==20.0.4
heroku==0.1.4
idna==2.10
imageio==2.22.0
importlib-metadata==4.12.0
imutils==0.5.4
ipython==8.5.0
isort==5.7.0
jedi==0.18.1
Js2Py==0.71
kiwisolver==1.4.4
lazy-object-proxy==1.4.3
Markdown==3.4.1
MarkupSafe==2.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
networkx==2.8.6
ninja==1.10.2.3
oauthlib==3.2.1
packaging==21.3
parso==0.8.3
pathspec==0.8.1
pickleshare==0.7.5
pipwin==0.5.1
prompt-toolkit==3.0.31
protobuf==3.19.5
psutil==5.9.2
psycopg2==2.8.6
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post3
PyDictionary==2.0.1
Pygments==2.13.0
pyjsparser==2.7.1
pylint==2.6.0
pyparsing==2.4.7
PyPrind==2.11.3
pySmartDL==1.3.4
python-bidi==0.4.2
python-dateutil
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.9
sqlparse==0.4.1
stack-data==0.5.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.5
wcwidth==0.2.5
Werkzeug==2.2.2
wikipedia==1.4.0
wrapt==1.12.1
